<%= flash[:notice] %>
<h1>Loaded Candidaturas</h1>
<div class = "lista_candidat@">
  <% for candidatura in @candidaturas %>
    <table border="1">
      <thead>
        <tr>
          <th>Sequencial Candidato</th>
          <th>Ano</th>
          <th>Eleição</th>
          <th>UF</th>
          <th>Municipio</th>
          <th>Cargo</th>
          <th>Numero do Candidato</th>
          <th>Partido</th>
          <th>Coligação</th>
          <th>Resultado da Eleição</th>
          <th>Receita Total</th>
          <th>Despesa Total</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= candidatura.sequencial_candidato %></td>
            <td><%= candidatura.ano_eleicao %></td>
            <td><%= candidatura.descricao_eleicao %></td>
            <td><%= candidatura.sigla_UF %></td>
            <td><%= candidatura.descricao_UE %></td>
            <td><%= candidatura.descricao_cargo %></td>
            <td><%= candidatura.numero_candidato %></td>
            <td><%= candidatura.sigla_partido %></td>
            <td><%= candidatura.composicao_legenda %></td>
            <td><%= candidatura.desc_sit_tot_turno %></td>
            <td><%= link_to candidatura.receita_total, "#Receita-#{(candidatura.id)}", :class => "btn", "data-toggle" => "modal" %></td>
            <td><%= link_to candidatura.despesa_total, "#Despesa-#{(candidatura.id)}", :class => "btn", "data-toggle" => "modal" %></td>
            <td><%= link_to candidatura.patrimonio_total, "#Patrimonio-#{(candidatura.id)}", :class => "btn", "data-toggle" => "modal" %></td>
          </tr>
      </tbody>
    </table>
    <!-- Modal Receita -->
    <div class="modal bs-example-modal-lg" id="Receita-<%= candidatura.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Detalhamento de receitas da candidatura</h4>
          </div>
          <div class="modal-body">
            <table>
              <thead>
                <tr>
                  <th>Doador</th>
                  <th>Valor</th>
                  <th>Descrição</th>
                </tr>
              </thead>
              <% candidatura.receitas.each do |receita| %>
                <% if receita.sequencial_candidato == candidatura.sequencial_candidato %>
                  <tbody>
                    <tr>
                      <td><%= receita.nome_doador %></td>
                      <td><%= receita.valor_receita %></td>
                      <td><%= receita.descricao_da_receita %></td>
                    </tr>
                  </tbody>
                <%end%>
              <%end%>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>   <!-- Modal Receita -->
    <!-- Modal Despesa -->
    <div class="modal bs-example-modal-lg" id="Despesa-<%= candidatura.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Detalhamento de Despesas da candidatura</h4>
          </div>
          <div class="modal-body">
            <table>
              <thead>
                <tr>
                  <th>Fornecedor</th>
                  <th>Valor</th>
                  <th>Descrição</th>
                </tr>
              </thead>
              <% candidatura.despesas.each do |despesa| %>
                <% if despesa.sequencial_candidato == candidatura.sequencial_candidato %>
                  <tbody>
                    <tr>
                      <td><%= despesa.nome_fornecedor %></td>
                      <td><%= despesa.valor_despesa %></td>
                      <td><%= despesa.descricao_despesa %></td>
                    </tr>
                  </tbody>
                <%end%>
              <%end%>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>   <!-- Modal Despesa -->
<!-- Modal Patrimonio -->
    <div class="modal bs-example-modal-lg" id="Patrimonio-<%= candidatura.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Detalhamento de Bens da candidatura</h4>
          </div>
          <div class="modal-body">
            <table>
              <thead>
                <tr>
                  <th>Candidato</th>
                  <th>Valor do bem</th>
                  <th>Descrição do bem</th>
                </tr>
              </thead>
              <% candidatura.patrimonios.each do |patrimonio| %>
                <% if patrimonio.sequencial_candidato == candidatura.sequencial_candidato %>
                  <tbody>
                    <tr>
                      <td><%= patrimonio.sequencial_candidato %></td>
                      <td><%= patrimonio.valor_bem %></td>
                      <td><%= patrimonio.detalhe_bem %></td>
                    </tr>
                  </tbody>
                <%end%>
              <%end%>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>   <!-- Modal Patrimonio -->

  <%end%>
</div>
<%= paginate @candidaturas %>
