%label= candidature.federative_unit_description
%label= candidature.job_title
%label= candidature.political_party_symbol
%label= candidature.political_caption
%label
  Receitas#{link_to candidature.total_revenue, "#revenue-#{(candidature.id)}", :class => "btn", "data-toggle" => "modal"}
%label
  Despesas#{link_to candidature.total_expenditure, "#expenditure-#{(candidature.id)}", :class => "btn", "data-toggle" => "modal"}
%label
  Patrimonio#{link_to candidature.total_patrimony, "#patrimony-#{(candidature.id)}", :class => "btn", "data-toggle" => "modal"}
/ Modal Receita
.modal.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "revenue-#{candidature.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Detalhamento de receitas da candidature
      .modal-body
        %table
          %thead
            %tr
              %th Doador
              %th Valor
              %th Descrição
          - candidature.revenues.each do |revenue|
            - if revenue.sequencial_candidato == candidature.sequencial_candidato
              %tbody
                %tr
                  %td= revenue.donator
                  %td= revenue.price
                  %td= revenue.description
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
/ Modal Receita
/ Modal Despesa
.modal.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "expenditure-#{candidature.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Detalhamento de Despesas da candidature
      .modal-body
        %table
          %thead
            %tr
              %th Fornecedor
              %th Valor
              %th Descrição
          - candidature.expenditures.each do |expenditure|
            - if expenditure.sequencial_candidato == candidature.sequencial_candidato
              %tbody
                %tr
                  %td= expenditure.seller
                  %td= expenditure.price
                  %td= expenditure.description
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
/ Modal Despesa
/ Modal Patrimonio
.modal.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "patrimony-#{candidature.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Detalhamento de Bens da candidature
      .modal-body
        %table
          %thead
            %tr
              %th Candidato
              %th Valor do bem
              %th Descrição do bem
          - candidature.patrimonies.each do |patrimony|
            - if patrimony.sequencial_candidato == candidature.sequencial_candidato
              %tbody
                %tr
                  %td= patrimony.sequencial_candidato
                  %td= patrimony.price
                  %td= patrimony.description
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
/ Modal Patrimonio
