      <label><%= candidature.federative_unit_description %></label>
      <label><%= candidature.job_title %></label>
      <label><%= candidature.political_party_symbol %></label>
      <label><%= candidature.political_caption %></label>
      <label>Receitas<%= link_to candidature.total_revenue, "#revenue-#{(candidature.id)}", :class => "btn", "data-toggle" => "modal" %></label>
      <label>Despesas<%= link_to candidature.total_expenditure, "#expenditure-#{(candidature.id)}", :class => "btn", "data-toggle" => "modal" %></label>
      <label>Patrimonio<%= link_to candidature.total_patrimony, "#patrimony-#{(candidature.id)}", :class => "btn", "data-toggle" => "modal" %></label>

<!-- Modal Receita -->
    <div class="modal bs-example-modal-lg" id="revenue-<%= candidature.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Detalhamento de receitas da candidature</h4>
          </div>
          <div class="modal-body">
            <table>
              <thead>
                <tr>
                  <th>Doador</th>
                  <th>Valor</th>
                  <th>Descrição</th>
                </tr>
              </thead>
              <% candidature.revenues.each do |revenue| %>
                <% if revenue.sequencial_candidato == candidature.sequencial_candidato %>
                  <tbody>
                    <tr>
                      <td><%= revenue.donator %></td>
                      <td><%= revenue.price %></td>
                      <td><%= revenue.description %></td>
                    </tr>
                  </tbody>
                <%end%>
              <%end%>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>   <!-- Modal Receita -->
<!-- Modal Despesa -->
    <div class="modal bs-example-modal-lg" id="expenditure-<%= candidature.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Detalhamento de Despesas da candidature</h4>
          </div>
          <div class="modal-body">
            <table>
              <thead>
                <tr>
                  <th>Fornecedor</th>
                  <th>Valor</th>
                  <th>Descrição</th>
                </tr>
              </thead>
              <% candidature.expenditures.each do |expenditure| %>
                <% if expenditure.sequencial_candidato == candidature.sequencial_candidato %>
                  <tbody>
                    <tr>
                      <td><%= expenditure.seller %></td>
                      <td><%= expenditure.price %></td>
                      <td><%= expenditure.description %></td>
                    </tr>
                  </tbody>
                <%end%>
              <%end%>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>   <!-- Modal Despesa -->
<!-- Modal Patrimonio -->
    <div class="modal bs-example-modal-lg" id="patrimony-<%= candidature.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Detalhamento de Bens da candidature</h4>
          </div>
          <div class="modal-body">
            <table>
              <thead>
                <tr>
                  <th>Candidato</th>
                  <th>Valor do bem</th>
                  <th>Descrição do bem</th>
                </tr>
              </thead>
              <% candidature.patrimonies.each do |patrimony| %>
                <% if patrimony.sequencial_candidato == candidature.sequencial_candidato %>
                  <tbody>
                    <tr>
                      <td><%= patrimony.sequencial_candidato %></td>
                      <td><%= patrimony.price %></td>
                      <td><%= patrimony.description %></td>
                    </tr>
                  </tbody>
                <%end%>
              <%end%>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>   <!-- Modal Patrimonio -->
