<div class='panel'>
  <div class="container">
    <div class="row">
    <div class='col-md-4'>
          <h1><%= @representative.type %>.</h1>
          <p><%= @representative.name %></p>
          <b><%= @representative.id %></b><br>
          <b><%= @representative.user_id %></b><br>
          <b><%=current_user.id%></b>
          <%= image_tag("politica.png", size: "100x100") %>
          <label><%= @representative.occupation %> <%= @representative.gender %></label>
          <label><%=@representative.proposals.count%></label>
          <label><%=@representative.supporters_count%></label>
    </div>
    <div class='col-md-7'>
      <%= render partial: "create", locals: {proposal: Proposal.new} %>
    </div>
  </div>
</div>
  <% @representative.proposals.each do |proposal| %>
    <div class='col-md-6'>
      <%= render partial: "proposal", locals: {proposal: proposal} %>
    </div>
  <% end %>
</div>
