.panel
  .row
    .col-md-4.representative
      .row
        .col-md-6
          %b= @representative.name
          %b= @representative.id
          = image_tag("politica.png", size: "100x100")
          %label
            = @representative.occupation
            = @representative.gender
          .dropdown
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :id => "dropdownMenu#{"#{(@representative.id)}"}", :type => "button"}
              Ano Eleitoral
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu#{"#{(@representative.id)}"}", :role => "menu"}
              - @representative.candidatures.each do |candidature|
                %li{:role => "presentation"}= link_to candidature.election_year, "#AnoEleição-#{(candidature.id)}", id: candidature.id, :class => "btn"
        - @representative.candidatures.each do |candidature|
          .col-md-6.hide.candidature{:id => "candidature-#{(candidature.id)}"}
            = render partial: "candidature", locals: {candidature: candidature}
.container
  - @representative.proposals.each do |proposal|
    .col-md-6
      = render partial: "proposal", locals: {proposal: proposal}
