= flash[:notice]
%h1 Loaded Candidaturas
= @cnd
= @cnf
%div{:class => "lista_candidat@"}
  - for candidatures in @candidatures
    %table{:border => "1"}
      %thead
        %tr
          %th Sequencial Candidato
          %th Ano
          %th Eleição
          %th UF
          %th Municipio
          %th Cargo
          %th Numero do Candidato
          %th Partido
          %th Coligação
          %th Resultado da Eleição
          %th Receita Total
          %th Despesa Total
      %tbody
        %tr
          %td= candidatures.sequencial_candidato
          %td= candidatures.election_year
          %td= candidatures.election_description
          %td= candidatures.federative_unit_symbol
          %td= candidatures.federative_unit_description
          %td= candidatures.job_title
          %td= candidatures.candidate_number
          %td= candidatures.political_party_symbol
          %td= candidatures.political_caption
          %td= candidatures.result
          %td= link_to candidatures.total_revenue, "#Receita-#{(candidatures.id)}", :class => "btn", "data-toggle" => "modal"
          %td= link_to candidatures.total_expenditure, "#Despesa-#{(candidatures.id)}", :class => "btn", "data-toggle" => "modal"
          %td= link_to candidatures.total_patrimony, "#Patrimonio-#{(candidatures.id)}", :class => "btn", "data-toggle" => "modal"
    / Modal Receita
    .modal.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "Receita-#{candidatures.id}", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            %h4#myModalLabel.modal-title Detalhamento de receitas da candidatures
          .modal-body
            %table
              %thead
                %tr
                  %th Doador
                  %th Valor
                  %th Descrição
              - candidatures.revenues.each do |revenue|
                - if revenue.sequencial_candidato == candidatures.sequencial_candidato
                  %tbody
                    %tr
                      %td= revenue.donator
                      %td= revenue.price
                      %td= revenue.description
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    / Modal Receita
    / Modal Despesa
    .modal.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "Despesa-#{candidatures.id}", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            %h4#myModalLabel.modal-title Detalhamento de Despesas da candidatura
          .modal-body
            %table
              %thead
                %tr
                  %th Fornecedor
                  %th Valor
                  %th Descrição
              - candidatures.expenditures.each do |expenditure|
                - if expenditure.sequencial_candidato == candidatures.sequencial_candidato
                  %tbody
                    %tr
                      %td= expenditure.seller
                      %td= expenditure.price
                      %td= expenditure.description
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    / Modal expenditure
    / Modal Patrimonio
    .modal.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "Patrimonio-#{candidatures.id}", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            %h4#myModalLabel.modal-title Detalhamento de Bens da candidatura
          .modal-body
            %table
              %thead
                %tr
                  %th Candidato
                  %th Valor do bem
                  %th Descrição do bem
              - candidatures.patrimonies.each do |patrimony|
                - if patrimony.sequencial_candidato == candidatures.sequencial_candidato
                  %tbody
                    %tr
                      %td= patrimony.sequencial_candidato
                      %td= patrimony.price
                      %td= patrimony.description
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    / Modal Patrimonio
= paginate @candidatures
