.container
  .panel.panel-default
    .panel-heading
      .panel-title
        = @user.name
    .panel-body
      .row
        .col-md-4
          .text-center
            = link_to (image_tag(@user.image, size: '100x100')), user_path(@user.id)
        .col-md-8
          %h1.text-center
            = link_to 'Seguindo', user_path(@user), class: 'btn'
            = link_to 'Novas', user_path(@user, recent: true), class: 'btn'
            = link_to 'Populares', user_path(@user, pop: true), class: 'btn'
      .row
        .col-md-4
          %table.table
            %tr
              %td= @user.provider
              %td= link_to @user.name,"http://facebook.com/profile.php?id=<#{@user.uid}>", class: 'fa fa-facebook-square btn btn-primary'
            %tr
              %td e-mail
              %td= @user.email
          .panel.panel-default
            .panel-heading
              .panel-title
                .row
                  .col-md-6
                    %label
                      = 'Propostas:'
                  .col-md-3
                    = '<i class="fa fa-thumbs-up"></i>'.html_safe
                    = @user.supporting_count(@support)
                  .col-md-3
                    = '<i class="fa fa-thumbs-down"></i>'.html_safe
                    = @user.votes.down.count
            .panel-body
              .row
                .col-md-1
                  = '<i class="fa fa-thumbs-up"></i>'.html_safe
                .col-md-10
                  = @user.supporting_proposals(@support)
              %hr
              .row
                .col-md-1
                  = '<i class="fa fa-thumbs-down"></i>'.html_safe
                .col-md-10
                  = @user.against_proposals(@against)
          .panel.panel-default
            .panel-heading
              .panel-title
                %label
                  = 'Financiou:'
                  = number_to_currency(@user.total_donated, precision: 2, unit: "R$", separator: ",")
            .panel-body
              .donations
                - @recipients.each do |recipient|
                  %div{ data: { id: "#{recipient.name}", total: @user.donated(recipient) } }
              #user-donations-graph
          .panel.panel-default
            .panel-heading
              .panel-title
                .row
                  .col-md-6
                    %label
                      = 'Representantes:'
                  .col-md-3
                    = '<i class="fa fa-thumbs-up"></i>'.html_safe
                    = @representatives.count
                  .col-md-3
                    = '<i class="fa fa-thumbs-down"></i>'.html_safe
                    = @unrepresentatives.count
            .panel-body
              .row
                .col-md-1
                  = '<i class="fa fa-thumbs-up"></i>'.html_safe
                .col-md-10
                  = @user.representatives(@representatives)
              %hr
              .row
                .col-md-1
                  = '<i class="fa fa-thumbs-down"></i>'.html_safe
                .col-md-10
                  = @user.unrepresentatives(@unrepresentatives)
        .col-md-8
          = render partial: "proposals"
