    <!--******************** NAVBAR ********************-->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <h1 class="brand"><a href="#top">DonaMaria</a></h1>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <nav class="pull-right nav-collapse collapse">
              <ul id="menu-main" class="nav">
                <li><a title="representação" href="#representacao">Representação</a></li>
                <li><a title="financiamento" href="#financiamento">Financiamento</a></li>
                <li><a title="participe" href="#participe">Participe</a></li>
                <li><a title="team" href="#team">Quem Somos</a></li>
                <li><a title="hackathon" href="#hackathon">Hackathon</a></li>
              </ul>

              <ul id='user-log'class="nav navbar-right">
                <li class='dropdown'>
                  <% if user_signed_in? %>
                    <%= link_to current_user.email, edit_user_registration_path, :data => {:toggle=>"dropdown"}, :class => '"dropdown-toggle" navbar-link' %>
                    <div class="dropdown-menu">
                      <%= link_to 'Editar', edit_user_registration_path, :class => 'navbar-link' %><br>
                      <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                    </div>
                  <% else %>
                    <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
                  <% end %>
                </li>
              </ul>
            </nav>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </div>
    <!-- /.navbar-wrapper -->
    <div id="top"></div>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerwrap">
      <header class="clearfix">
        <h1><span>DonaMaria</span> Lugar de mulher é na política.</h1>
        <div class="container">
          <div class="row">
            <div class="span12">
              <ul class="icon">
                <li><a href="#" target="_blank"><%= image_tag 'feminismopunho.png', size: "40" %></a></li>
                <li><a href="#" target="_blank"><%= image_tag 'justica-gender.png', size: "60" %></a></li>
                <li><a href="#" target="_blank"><%= image_tag 'hackathon.png', size: "50" %></a></li>
                <li><a href="#" target="_blank"><%= image_tag 'outubro-rosa.png', size: "45" %></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!--******************** Feature ********************-->
    <div class="scrollblock">
      <section id="feature">
        <div class="container">
          <div class="row">
            <div class="span12">
              <article>
                <p>Pretendemos conscientizar o eleitorado das desigualdades de genero existentes no processo eleitoral. Por meio da <a href="http://www.acessoainformacao.gov.br/assuntos/conheca-seu-direito/a-lei-de-acesso-a-informacao">Lei de Acesso à Informação</a>, apresentamos <a href="http://dados.gov.br/dados-abertos/">Dados Abertos</a> das eleições de 2014 disponibilizados pelo Tribunal Superior Eleitoral, em parceria com o <a href="http://meucongressonacional.com/api">MCN</a></p>
              </article>
            </div>
            <!-- ./span12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- ./container -->
      </section>
    </div>
    <hr>
    <!--******************** Representação Section ********************-->
    <section id="representacao" class="single-page scrollblock">
      <div class="container">
        <article class='post'>
          <h1 class="folio-headline">Representação</h1>
          <p>As mulheres são sub-representadas no Congresso, nos sindicatos e nos partidos políticos, a representação de 10,9% no Congresso não condiz com o total de mulheres na população, que é de 52%. Na América Latina, o Brasil é o segundo país com mais baixo índice de mulheres em cargos legislativos federais. Ficando em situação pior do que a de alguns países árabes, conhecidos por suas institucionalizadas segregação e discriminação de gênero.</p>
        </article>
        <div id='representacao-row' class="row">
          <div class="span5">
            <article class="post">
              <hgroup>
                <h2>Candidat@s</h2>
              </hgroup>
              <div class="entry-content">
                <p>Objetivando o crescimento da representatividade feminina no congresso, a legislação de cotas estabelece um percentual minimo de 30% de candidaturas de cada sexo. Entretanto, alguns partidos desrespeitam esta medida confiantes na ineficiência da justiça eleitoral  que não aplica as devidas punições. </p>
              </div>
              <div id="piechart_candidatos"></div>
            </article>
            <!-- /.article -->
          </div>
          <!-- /.span4 -->
          <div class="span5">
            <article class="post">
              <hgroup>
                <h2>Candiadt@s Eleit@s</h2>
              </hgroup>
              <div class="entry-content">
                <p>As expectativas de que o aumento de candidaturas resultasse num impacto sobre a elegibilidade não se concretizaram. O sistema de representação proporcional de lista aberta, dificulta o acesso político e o bom desempenho eleitoral daqueles candidatos com menores recursos políticos e financeiros. </p>
              </div>
              <div id="piechart_eleitos"></div>
            </article>
            <!-- /.article -->
          </div>
          <!-- /.span4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <hr>
    <!--******************** Feature ********************-->
    <div class="scrollblock">
      <section id="feature">
        <div class="container">
          <div class="row">
            <div class="span12">
              <article>
                <p>É consenso de que as chances de sucesso nas urnas está intimamente relacionada à capacidade dos candidatos de arrecadarem recursos. Nas candidaturas onde as mulheres obtiveram mais recursos seus desempenhos são melhores;</p>
              </article>
            </div>
            <!-- ./span12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- ./container -->
      </section>
    </div>
    <hr>
    <!--******************** Financiamento Section ********************-->
    <section id="financiamento" class="single-page scrollblock">
      <div class="container">
        <article class='post'>
          <h1 class='folio-headline'>Financiamento de campanha</h1>
          <p>Os dados apresentados abaixo corroboram a suposição de que há de fato um subfinanciamento das campanhas das mulheres em relação às campanhas dos homens. Outra visão consensual é que os partidos discriminam as mulheres na distribuição de recursos do fundo partidário, contribuindo, portanto, para acentuar as desvantagens de financiamento que elas têm em relação aos homens a partir de outras fontes de doação</p>
        </article>
        <div id='financiamento-row' class="row">
          <div class="span5">
            <article class="post">
              <hgroup>
                <h2>Patrimonio Declarado</h2>
              </hgroup>
              <div class="entry-content">
                <p>A literatura elenca várias possíveis explicações, incluindo a hipótese do desfavorecimento financeiro das mulheres na vida privada, que se refletiria também na capacidade de aportar recursos próprios para as campanhas. Outro fator é o baixo apoio financeiro de doadores da iniciativa privada.</p>
              </div>
              <div id="piechart_patrimonio"></div>
            </article>
            <!-- /.article -->
          </div>
          <!-- /.span4 -->
          <div class="span5">
            <article class="post">
              <hgroup>
                <h2>Recursos de campanha</h2>
              </hgroup>
              <div class="entry-content">
                <p>Do total de candidatos que declararam receitas da campanha superiores a R$1 milhão, apenas 6% eram do sexo feminino. Esse dado reforça a visão de que as mulheres têm acesso limitado a determinados tipos de redes sociais e políticas que poderiam ser ativadas na arrecadação de recursos</p>
              </div>
              <div id="piechart_recursos"></div>
            </article>
            <!-- /.article -->
          </div>
          <!-- /.span4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <hr>
    <!--******************** Feature Participe********************-->
    <div class="scrollblock">
      <section id="feature">
        <div class="container">
          <div class="row">
            <div class="span12">
              <article>
                <p>O <a href="#top">DonaMaria</a> é uma ferramenta que promove o engajamento de eleitores na construção de redes de apoiadores de campanhas. Nosso objetivo é criar um canal de comunicação entre candidatas e apoiadores.</p>
              </article>
            </div>
            <!-- ./span12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- ./container -->
      </section>
    </div>
    <hr>
    <!--******************** Participe Section ********************-->
    <section id="participe" class="single-page scrollblock">
      <div class="container landing">
        <article class='post'>
          <h1 class='folio-headline'>Participe</h1>
          <p><i class="fa fa-certificate fa-2x"></i>  Cadastre-se;<br><i class="fa fa-certificate fa-2x"></i> Encontre uma candidata;<br><i class="fa fa-certificate fa-2x"></i> Colabore na construção de um programa de governo com a sua cara;<br> <i class="fa fa-certificate fa-2x"></i> Crie uma rede de apoio que possa ajuda-la a arrecadar fundos;<br> <i class="fa fa-certificate fa-2x"></i> Divulgue essa idéia<br></p><p>  O empoderamento feminino passa pelo congresso. Ajude a eleger uma candidata que te represente.</p>
        </article>
        <!-- two columns -->
        <div id="participe-row" class="row">
          <div class="span4">
            <div class="inside">
              <%= form_tag candidates_path, class: 'input-group', :method => 'get' do %>
                <div class="form-group">
                  <%= text_field_tag :search, params[:search], placeholder: "Pesquisar Candidata", class: "form-control" %>
                  <%= button_tag(type: "submit", class: "btn btn-default", :name => nil) do %>
                    <i class="fa fa-search fa-lg"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
          <div class="span4">
            <div class="inside">
              <%= form_tag candidates_path, class: 'input-group', :method => 'get' do %>
                <div class="form-group">
                  <%= text_field_tag :search, params[:search], placeholder: "Pesquisar Proposta", class: "form-control" %>
                  <%= button_tag(type: "submit", class: "btn btn-default", :name => nil) do %>
                    <i class="fa fa-search fa-lg"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
        </div>
        <!-- /.row -->
        <div class="row listar">
          <%= link_to "Listar Candidatas", candidates_path, class: 'btn', data: { no_turbolink: true } %>
        </div>
      </div>
      <!-- /.container -->
    </section>
    <hr>

    <!--******************** Quem Somos Section ********************-->
    <section id="team" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="fa fa-users"></i></div>
        <h1>Quem Somos</h1>
        <div class="row">
          <div class="span2 offset3">
            <div class="teamalign"><%= image_tag("isadora.jpg", size: "60x60") %></div>
            <h3>Isadora</h3>
            <div class="job-position">Desenvolvedora</div>
          </div>
          <!-- ./span2 -->
          <div class="span2">
            <div class="teamalign"><%= image_tag("embs.jpg", size: "60x60") %></div>
            <h3>Matheus</h3>
            <div class="job-position">Desenvolvedor</div>
          </div>
          <!-- ./span2 -->
          <div class="span2">
            <div class="teamalign"><%= image_tag("yves.jpg", size: "60x60") %></div>
            <h3>Yves</h3>
            <div class="job-position">Desenvolvedor</div>
          </div>
          <!-- ./span2 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="span10 offset1">
            <hr class="featurette-divider">
            <div class="featurette">
              <h2 class="featurette-heading">Agradecimentos</h2>
              <p>Aos participantes do hackathon pela experiencia compartilhada, sobretudo ao Kellyton por ter disponibilizado a API do MCN.</p>
              <p>A toda a equipe da camara dos deputados que esteve envolvida no Hackathon, por possibilitarem a concepção dos projetos .</p>
              <p>As pesquisadoras Teresa Sacchet e Clara Araújo, cujos trabalhos serviram de inspiração ao projeto.</p>
            </div>
            <!-- /.featurette -->
            <hr class="featurette-divider">
          </div>
          <!-- .span10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!--******************** Hackathon Section ********************-->
    <section id="hackathon" class="single-page scrollblock">
      <div class="container">
        <div class="align"></div>
        <h1>Hackathon de Gênero e Cidadania</h1>
        <div class="row">
          <div class="span12">
            <div class="cform" id="theme-form">
              <p>O Hackathon é uma maratona que reúne hackers, programadores, desenvolvedores e inventores para criar projetos que transformem informações de interesse público em soluções digitais, acessíveis a todos os cidadãos. A maratona ocorreu entre os dias 24 e 28 de novembro no Salão Branco da Câmara dos Deputados. Os participantes tiveram o desafio de desenvolver aplicativos que possam contribuir para reduzir a violência contra a mulher e fortalecer as políticas de gênero. Esse é um dos projetos selecionados.</p>
            </div>
          </div>
          <!-- ./span12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <hr>
    <div class="footer-wrapper">
      <div class="container">
        <footer>
          <small>Desenvolvido por BuriTi.</small>
        </footer>
      </div>
      <!-- ./container -->
    </div>
