- candidature = candidate.candidatures.first.decorate
.panel.panel-default
  .panel-heading
    .panel-title
      = candidate.name
  .panel-body
    .col-md-2
      .text-center
        = link_to (image_tag('politica.png',size: '100x100')), candidate_path(candidate.id)
    .col-md-4
      %table.table
        %tr
          %td Profissão
          %td= candidate.occupation
        %tr
          %td Cargo
          %td= candidature.job_title
        %tr
          %td Partido
          %td= candidature.political_party_symbol
        %tr
          %td Coligação
          %td= candidature.political_caption
    .col-md-6
      %table.table
        %thead
          %tr
            %th.text-center Receita
            %th.text-center Despesa
            %th.text-center Patrimônio
        %tr
          %td.text-center
            = link_to number_to_currency(candidature.total_revenue), "#revenue-#{(candidature.id)}", class: 'btn btn-success', data: { toggle: :modal }
          %td.text-center
            = link_to number_to_currency(candidature.total_expenditure), "#expenditure-#{(candidature.id)}", class: 'btn btn-danger', data: { toggle: :modal }
          %td.text-center
            = link_to number_to_currency(candidature.total_patrimony), "#patrimony-#{(candidature.id)}", class: 'btn btn-warning', data: { toggle: :modal }

= render partial: 'shared/modal', locals: { candidature: candidature, model: 'revenue' }
= render partial: 'shared/modal', locals: { candidature: candidature, model: 'expenditure' }
= render partial: 'shared/modal', locals: { candidature: candidature, model: 'patrimony' }
