<%= form_tag candidates_path, :method => 'get' do %>
  <div class="form-group searchForm">
    <div class="input-group navbar-form">
      <%= text_field_tag :search, params[:search], placeholder: "Pesquisar Candidato", class: "form-control" %>
      <%= radio_button_tag(:gender, "Masculino", params[:gender].eql?("Masculino")) %> Masculino
      <%= radio_button_tag(:gender, "Feminino", params[:gender].eql?("Feminino")) %> Feminino

      <div class="input-group-btn">
        <%= button_tag(type: "submit", class: "btn btn-default", :name => nil) do %>
          <i class="fa fa-search"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= @candidates.total_count%>

  <% for candidate in @candidates %>
    <table border="1">
      <thead>
        <tr>
          <th>Nome do Candidato</th>
          <th>Ocupação</th>
          <th>Sexo</th>
          <th>T</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= candidate.name %></td>
            <td><%= candidate.occupation %></td>
            <td><%= candidate.gender %></td>
            <td><%= candidate.voter_registration %></td>
          </tr>
      </tbody>
    </table>
    <%= render partial: "candidature", locals: {candidate: candidate} %>
  <%end%>

  <%= paginate @candidates %>



