.container
  .row.box
    .col-md-4.candidate
      .row
        .col-md-6
          %b= @candidate.name
          %b= @candidate.id
          = image_tag("politica.png", size: "100x100")
          %label
            = @candidate.occupation
            = @candidate.gender
          .dropdown
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :id => "dropdownMenu#{"#{(@candidate.id)}"}", :type => "button"}
              Ano Eleitoral
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu#{"#{(@candidate.id)}"}", :role => "menu"}
              - @candidate.candidatures.each do |candidature|
                %li{:role => "presentation"}= link_to candidature.election_year, "#AnoEleição-#{(candidature.id)}", id: candidature.id, :class => "btn"
        - @candidate.candidatures.each do |candidature|
          .col-md-6.hide.candidature{:id => "candidature-#{(candidature.id)}"}
            = render partial: "candidature", locals: {candidature: candidature}
    .col-md-7
      = render partial: "create", locals: {proposal: Proposal.new}
.container
  - @candidate.candidatures.each do |candidature|
    - candidature.proposals.each do |proposal|
      .col-md-6
        = render partial: "proposal", locals: {proposal: proposal}
