<%= flash[:notice] %>

<h1>Loaded Patrimonios</h1>

<table>
  <thead>
    <tr>
      <th>Sequencial Candidato</th>
      <th>Valor do Bem</th>
      <th>Descrição do Bem</th>
    </tr>
  </thead>
  <tbody>
    <% @patrimony.each do |patrimony| %>
      <tr>
        <td><%= patrimony.sequencial_candidato %></td>
        <td><%= patrimony.valor_bem %></td>
        <td><%= patrimony.detalhe_bem %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @patrimony %>
