= flash[:notice]
%h1 Loaded receita
%table
  %thead
    %tr
      %th ID
      %th Sequencial Candidato
      %th Recibo
      %th Doador
      %th valor
      %th Descrição
      %th Candidatura
  %tbody
    - @revenues.each do |revenue|
      %tr
        %td= revenue.id
        %td= revenue.sequencial_candidato
        %td= revenue.receipt_title
        %td= revenue.donator
        %td= revenue.price
        %td= revenue.description
        %td= revenue.candidature.id
= paginate @revenues
