<%= flash[:notice] %>

<h1>Loaded receita</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Sequencial Candidato</th>
      <th>Recibo</th>
      <th>Doador</th>
      <th>valor</th>
      <th>Descrição</th>
      <th>Candidatura</th>
    </tr>
  </thead>
  <tbody>
    <% @receitas.each do |receita| %>
      <tr>
        <td><%= receita.id %></td>
        <td><%= receita.sequencial_candidato %></td>
        <td><%= receita.numero_recibo_eleitoral %></td>
        <td><%= receita.nome_doador %></td>
        <td><%= receita.valor_receita %></td>
        <td><%= receita.descricao_da_receita %></td>
        <td><%= receita.candidatura.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @receitas %>
