<%= flash[:notice] %>

<h1>Loaded despesas</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Sequencial Candidato</th>
      <th>Fornecedor</th>
      <th>valor</th>
      <th>Descrição</th>
      <th>Candidatura</th>
    </tr>
  </thead>
  <tbody>
    <% @despesas.each do |despesa| %>
      <tr>
        <td><%= despesa.id %></td>
        <td><%= despesa.sequencial_candidato %></td>
        <td><%= despesa.nome_fornecedor %></td>
        <td><%= despesa.valor_despesa %></td>
        <td><%= despesa.descricao_despesa %></td>
        <td><%= despesa.candidatura.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @despesas %>
