<%= flash[:notice] %>

<h1>Loaded despesas</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Sequencial Candidato</th>
      <th>Fornecedor</th>
      <th>valor</th>
      <th>Descrição</th>
      <th>Candidatura</th>
    </tr>
  </thead>
  <tbody>
    <% @expenditures.each do |expenditure| %>
      <tr>
        <td><%= expenditure.id %></td>
        <td><%= expenditure.sequencial_candidato %></td>
        <td><%= expenditure.seller %></td>
        <td><%= expenditure.price %></td>
        <td><%= expenditure.description %></td>
        <td><%= expenditure.candidature.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @expenditures %>
