= flash[:notice]
%h1 Loaded despesas
%table
  %thead
    %tr
      %th ID
      %th Sequencial Candidato
      %th Fornecedor
      %th valor
      %th Descrição
      %th Candidatura
  %tbody
    - @expenditures.each do |expenditure|
      %tr
        %td= expenditure.id
        %td= expenditure.sequencial_candidato
        %td= expenditure.seller
        %td= expenditure.price
        %td= expenditure.description
        %td= expenditure.candidature.id
= paginate @expenditures
