<div class='container'>
  <div class="row box">
    <div class=' col-md-12 candidato'>
      <div class='row'>
        <div class= 'col-md-6'>
          <b><%= @candidato.nome_candidato %></b>
          <b><%= @candidato.id %></b>
          <%= image_tag("politica.png", size: "100x100") %>
          <label><%= @candidato.descricao_ocupacao %> <%= @candidato.descricao_sexo %></label>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu<%= "#{(@candidato.id)}" %>" data-toggle="dropdown" aria-expanded="true">Ano Eleitoral
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu<%= "#{(@candidato.id)}" %>">
              <% @candidato.candidaturas.each do |candidatura| %>
                <li role="presentation"><%= link_to candidatura.ano_eleicao, "#AnoEleição-#{(candidatura.id)}", id: candidatura.id, :class => "btn" %></li>
                <div class='container'>
              <%end%>
            </ul>
          </div>
        </div>
        <% @candidato.candidaturas.each do |candidatura| %>
          <div id='<%= "candidatura-#{(candidatura.id)}" %>' class= 'col-md-6 hide candidatura'>
            <%= render partial: "candidatura", locals: {candidatura: candidatura} %>
          </div>
        <%end%>
      </div>

    </div>
  </div>

          <% @candidato.candidaturas.each do |candidatura| %>
            <% candidatura.proposals.each do |proposal| %>
        <div class='col-md-5 box-proposta'>

              <div class='col-md-4'>
              <%= image_tag("talk_balloon.png", size: "30x30") %><label>13</label>
              </div>
              <div class='col-md-4'>
              <%= image_tag("flag.png", size: "30x30") %><label>3.500</label>
              </div>
              <div class='col-md-4'>
              <%= image_tag("Dollar.png", size: "30x30") %><label>R$700</label>
              </div>
              <div class='col-md-12'>
                <%= proposal.description %>
              </div>

        </div>

            <%end%>
          <%end%>

</div>
