    <!--******************** NAVBAR ********************-->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <h1 class="brand"><%= link_to "DonaMaria", root_path, class: 'navbar-brand', data: { no_turbolink: true } %></h1>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <nav class="pull-right nav-collapse collapse">
              <ul id="menu-main" class="nav landing">
                <li>
                  <%= form_tag candidates_path, class: 'navbar-form', :method => 'get' do %>
                    <div class="form-group">
                      <%= text_field_tag :search, params[:search], placeholder: "Pesquisar Candidato", class: "form-control" %>
                      <%= button_tag(type: "submit", class: "btn btn-default", :name => nil) do %>
                        <i class="fa fa-search fa-lg"></i>
                      <% end %>
                    </div>
                  <% end %>
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>

              <ul id='user-log'class="nav navbar-right">
                <li class='dropdown'>
                  <% if user_signed_in? %>
                    <%= link_to current_user.email, edit_user_registration_path, :data => {:toggle=>"dropdown"}, :class => '"dropdown-toggle" navbar-link' %>
                    <div class="dropdown-menu">
                      <%= link_to 'Editar', edit_user_registration_path, :class => 'navbar-link' %><br>
                      <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                    </div>
                  <% else %>
                    <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
                  <% end %>
                </li>
              </ul>
            </nav>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </div>
    <!-- /.navbar-wrapper -->
