%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ data: { toggle: 'collapse', target: '#colapsable-navbar' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "DonaMaria", root_path, class: 'navbar-brand', data: { no_turbolink: true }
    #colapsable-navbar.collapse.navbar-collapse
      = form_tag representatives_path, class: 'navbar-form navbar-left', method: 'get' do
        .form-group
          = text_field_tag :search, params[:search], placeholder: "Pesquisar Candidato", class: "form-control"
          = button_tag(type: "submit", class: "btn btn-default", name: nil) do
            %i.fa.fa-search.fa-lg
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            = link_to '#', data: { toggle: 'dropdown' } do
              = image_tag(current_user.image, height: '16', width: '16')
              %span.caret
            %ul.dropdown-menu{ role: 'menu' }
              %li= link_to 'Editar', edit_user_registration_path
              %li= link_to 'Sair', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Entrar', new_user_session_path, class: 'navbar-link'
