!!!
%html(lang="pt-BR")
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    %title DonaMaria
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'

    / Google Web fonts
    %link{ href: "//fonts.googleapis.com/css?family=Quattrocento:400,700", rel: "stylesheet", type: "text/css" }
    %link{ href: "//fonts.googleapis.com/css?family=Patua+One", rel: "stylesheet", type: "text/css" }
    %link{ href: "//fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet", type: "text/css" }
    %script{:src => "//www.google.com/jsapi", :type => "text/javascript"}
    :javascript
      google.load("visualization", "1", {packages:["corechart"]});

  %body
    = render 'layouts/header'
    = bootstrap_flash

    = yield
